.main_page{
    background-color:#80BEF1;
    background-image:url(../../img/main_waterbackground.jpg);
}

.wrapper{
  width:1025px;
  margin:0 auto;
}

.main_header{
    height:65px;
    background-color:#FFFFFF;
    font-size:18px;
    display:flex;
    justify-content:space-between;
}
.main_header_logo{
    display:block;
}

.main_header_menu_nav{
    height:65px;
    width:420px;
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.main_header_menu_nav>li{
    flex-direction:row;
}

.main_header_menu_nav>li>a{
    color:#8D8D8D;
    font-family:arial;
    text-decoration:none;
    font-stretch:ultra-condensed;
    font-weight:100;
}


.main_middle_block{
    height:240px;
    width:480px;
    background-color:white;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    border-bottom-color:rgb(2, 185, 2);
    border-bottom-width:7px;
    border-bottom-style:solid;
    z-index:5;
    position:absolute;
    bottom:-120px;
    left:275px;
    border-radius: 5px;
    color:#7E7C7C;
    font-weight:100;

    box-shadow: 0 1px 20px rgba(0,0,0,.25),
    inset 0 1px 0 rgba(255,255,255,.6),
    0 1px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}

.main_middle_block_text{
    font-size:22px;
    text-align:center;
    padding-top:20px;
}

.main_middle_block_menu_nav{
    font-size:15px;
    width:430px;
    margin:0 auto;
    margin-top:25px;
}

.main_middle_block_menu_nav::after{
    content:'';
    display:block;
    clear:both;
}

.main_middle_block_menu_nav>li{
    float:left;
    font-size:14px;
    padding-right:8px;
    padding-bottom:8px;
}

.main_block_top{
    position:relative;
    background-image:url(../../img/main_mainpicture.png);
    width:1025px;
    height:530px;
}

.main_block_top_text{
    text-transform:uppercase;
    font-family:arial;
    color:#FFFFFF;
    font-size:40px;
    font-stretch:ultra-condensed;
    font-weight:100;
    padding-top:165px;
    text-align:center;
}

.main_block_top_firstline{
    margin:0px auto;
    width:680px;
}

.main_block_top_secondline{
    margin:0px auto;
    width:400px;
}

.main_block_top_button_properties{
    display: block;
    color: white;
    width:275px;
    height:55px;
    margin:40px auto;

    border: 4px solid rgb(68, 148, 188);
    border-radius: 10px;
    background: linear-gradient(rgb(61, 211, 55), rgb(32, 160, 81));
    font-size:26px;
    font-weight:500;
    text-align:center;
    padding:8px;
}

.main_block_top_button_properties:hover{background:linear-gradient(rgb(54, 189, 50), rgb(25, 124, 63));}
.main_block_top_button_properties:active{background:rgba(255, 0, 0, 0);}

/*
#clear{
    clear:both;
}
*/

.main_block_bottom{
    height:565px;
    background-color:#ECECEC;
    padding-top:200px;
}

.main_block_bottom_text{
    width:700px;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    text-align:center;
    margin-left:170px;
    color:#7E7C7C;
}

.main_block_bottom_text_topline{
    font-size:25px;
}

.main_block_bottom_text_bottomline{
    padding-top:10px;
    font-size:21px;
}

.main_block_bottom_menu{
    width:770px;
    height:190px;
    margin:0 auto;
    margin-top:50px;
    display:flex;
    justify-content:space-around;
}

a.main_block_bottom_fill-div{
    display:block;
    height:135px;
    width:100%;
    text-decoration:none;
}

.main_block_bottom_button_world{
    background: url(../../img/main_world.png);
}

.main_block_bottom_button_shop{
    background: url(../../img/main_shop.png);
}

.main_block_bottom_button_photo{
    background: url(../../img/main_photo.png);
}

.main_block_bottom_button_find{
    background: url(../../img/main_find.png);
}

.main_block_bottom_button_active {
    width: 135px;
    height: 135px;
    background-repeat:no-repeat;
    background-position: 50%;
    background-color:white;
    cursor: pointer;
    border-radius: 50%;
    float:left;


    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}

.main_block_bottom_menu_text{
    height:30px;
    text-align:center;
    font-size:22px;
    color:#7E7C7C;
    font-weight:300;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    margin-top:15px;
}

.main_footer{
    height:30px;
    background-color:#414141;
    color:rgb(128, 128, 128);
    text-align:center;
    font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    padding-top:5px;
}












/*
border:0.5px solid #E7E7E7;
*/